<% layout("/layouts/boilerplate.ejs") %>


<div class="row mt-3">
<div class="col-6 offset-3">
    <h2 class="col-10 offset-3">SignUP on HomyWay</h2>


<form action="/signup" method="post" class="needs-validation" novalidate>
    <div class="mb-3">

        <lable for="username" class="form-label">Username</lable>
        <input
         type="text"
          name="username" 
          class="form-control"
           required
           />
        <!-- If User entered title is valid than this valid-feedback div work "Title looks good!" -->
<div class="valid-feedback">Looks good!</div>
</div>

<div class="mb-3">

    <lable for="email" class="form-label">Email</lable>
    <input
     type="email"
      name="email" 
      class="form-control"
       required
       />
</div>

<div class="mb-3">

    <lable for="password" class="form-label">Password</lable>
    <input
     type="password"
      name="password" 
      class="form-control"
       required
       />
</div>
<button class="btn btn-success">Signup</button>

</form>

</div>

</div>